@charset "utf-8";

.cont-div {
    padding: 15px;
    background: none repeat scroll 0 0 #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
    margin: 10px 10px;
}

.div-title {
    font-size: 14px;
    font-family: arial;
    margin-bottom: -17px;
    font-style: bold;
    color: #000;
}

.div-title b {
    text-transform: uppercase;
}

/*------------------ Geral -----------------*/
html, .footer, .container-fluid {
    background-color: #eee;
}

body, html{
    height: 100%;
    overflow: auto;
}

img {
	max-width: 100%;
	margin: 10px 0 20px 0;
}

video {
    width: 100%;
    height: 100%;
}

.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px 4px 4px 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.42857;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    color: #fff;
}

.btn-table {
	height: 38px;
	width: 38px;
	margin: 0 auto;
	text-align: center;
}
.c-danger{
    color: red;
}

.c-warning{
    color: #D69A0E;
}

.c-success{
    color: green;
}

.c-blue {
    color: #2C64FF;
}

hr{
    color: #DDDDDD;
    background-color: #DDDDDD;
    height: 1px;
    width: 90%;
}

.border-test{
    border: 1px solid red;
}

.none-border{
    border: none !important;
    border-radius: 0;
}

.rotate90 {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

.rotate180 {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

.fa-toggle-on {
    cursor: pointer;
}

.container-fluid > h3 {
    padding-top: 5%;
}

a {
    cursor: pointer;
}

.panel-container {
    margin-top: 52px;
}

.none-padding {
    padding: 2px;
    padding-bottom: 0;
    margin-bottom: -20px;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #fff;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

.text-align-left {
	text-align: left !important;
}

/*----------------- Mensagem de alerta ------------------*/
#msgAlertaSistemaTemplate {
    position: absolute;
    top: -1em;
    left: 45em;
    z-index: 9999999;
    padding: 20px;
    border-radius: 5px 5px 5px 5px;
}

.text-alert {
    text-align: center;
}

div#msgAlertaSistema {
    z-index: 9999999;
    margin: 0 auto;
}

.panel-login {
    margin-top: 15%;
}

.panel-heading img {
    height: 65px;
    width: 80px;
    margin: 0 auto;
}

.panel .panel-footer {
    background-color: rgba(255, 255, 255, .3);
    border: none;
}

.content {
    margin-top: 40px;
    color: #333;
    text-align: center;
}

.title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #6A2E2E;
    margin: 8px auto;
}

.content .title {
    text-align: center;
    letter-spacing: .1em;
    font-family: 'Relaway', sans-serif;
    margin-bottom: 20px;
}

.content p {
    margin-bottom: 40px;
    padding-bottom: 0.5em;
}

.content i {
    font-size: 5em;
}

.description-bordo {
    background: #6A2E2E;
    color: #fff;
}

.description-bordo i {
    font-size: 15em;
    text-align: center;
    vertical-align: middle;
    margin-left: 0.8em;
    padding: 0.5em 0 0.5em 0;
}

.description-bordo p {
    margin-left: 10px;
    text-align: center;
}

.description-bordo ul {
    margin: 20px 0 0 96px;
}

.description-bordo ul li a {
    font-size: 15px;
    font-weight: bold;
    color: #fff;
}

.des-title {
    text-align: center;
    text-align: center;
    letter-spacing: .1em;
    font-family: 'Relaway', sans-serif;
    margin-bottom: 20px;
    padding-top: 7.5em;
}

.description-bordo .des-title:after {
    content: "";
    display: block;
    width: 500px;
    height: 2px;
    background: #fff;
    margin: 8px auto;
}

.description-white {
    background: #fff;
    color: #333;
}

.description-white .des-title:after {
    content: "";
    display: block;
    width: 500px;
    height: 2px;
    background: #000;
    margin: 8px auto;
}

.description-white i {
    font-size: 15em;
    text-align: center;
    vertical-align: middle;
    margin-left: 0.8em;
    padding: 0.5em 0 0.5em 0;
}

.description-white p {
    margin-right: 10px;
    text-align: center;
}*/


/*-------------- Tabelas ----------------*/
div.container > h2 {
	margin-top: 10%;
}

div.container-fluid > h4 {
	text-align: left;
}

div.container-fluid > div.row > .glyphicon {
	padding-right: 5px;
	margin-right: 5px;
}

.table-overflow {
	overflow: scroll;
    height: 600px;
    margin-bottom: 50px;
}

.table {
	text-align: center;
}

table.sorting-table {
	cursor: move;
}

table tr.sorting-row td {
	background-color: #aaa !important;
	color: #fff;
}


/*---------------- Modal ------------------*/
.modal-dialog {
    border-radius: 0;
}

.modal-content {
    border-radius: 0;
}

.modal-header {
    height: 70px;
    padding: 20px 30px 0 30px;
    background-color: #6a2e2e;
    color: white;
}

.modal-header h4{
    font-weight: bold;
    float: left;
    margin-bottom: 10px;
}

.modal-body{
    padding: 10px 70px;
    color: #7a7a7a;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: white;
    margin-right: -10px;
    margin-top: -10px !important;
    filter: alpha(opacity=0);
    opacity: 0.8;
}

.close:hover,
.close:focus {
    color: #a8a8a8;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5;
}
