<!DOCTYPE html>
<html lang="pt-BR" ng-app="moduleTemplate" ng-controller="controllerTemplate">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="icon" href='/assets/images/favicon.ico'>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="CIMTech">

	<title>Cadastro Pessoas</title>

	<link rel="stylesheet" href="assets/stylesheets/css/main.css">
	
	<link rel="stylesheet" media="screen" href='@routes.Assets.at("/stylesheets/vendor/bootstrap.css")'>
	<link rel="stylesheet" href='@routes.Assets.at("/stylesheets/vendor/font-awesome.min.css")'>
	
	<script>
	
	/* Função que não permite o campo cpf exceder 11 caracteres */
	function validar(field) {
		  str = field.value;
		  if (str.length > 11) {
		    field.value = str.substring(0, str.length - 1);
		  }
		}
	
	
		/* Função que restringe letras no campo */
		function numerico(evt) {
		  var key_code = evt.keyCode ? evt.keyCode : evt.charCode ? evt.charCode : evt.which ? evt.which : void 0;
		  if (key_code == 8 || key_code == 9 || key_code == 13 || key_code == 27 || key_code == 46) {
		    return true;
		  } else if ((key_code >= 35) && (key_code <= 40)) {
		    return true
		  } else if ((key_code >= 48) && (key_code <= 57)) {
		    return true
		  }
		  return false;
		}
	</script>
	
	
	<style>
	.template-alerta {
	    position: fixed;
	    z-index: 9999999;
	    padding: 20px;
	    border-radius: 5px 5px 5px 5px;
	    margin: -1.4em auto;
	    width: 60%;
	    text-align: center;
	    margin-left: 20%;
	}
	</style>

</head>

<body>

   	<section>
		<div id="divMain wrapper">
		<div class="template-alerta">
		   	<div directive-alerta-sistema-template></div>
		</div>
			<div ng-view></div>
		</div>
	</section>

	<section class="footer">
		<footer>
			<div class="row">
				<div class="col-md-12">
					<hr class = "line-rodape" />
					<div class ="col-md-6">
						<h6 style="text-align: center; color: #000;">
							Desenvolvido por: <b> Rafael Silvestrini Lima </b>- 2018
						</h6>
					</div>
					<div class = "col-md-3"></div>
					<div class = "col-md-3">
						<h6> <b> GT4W </b> </h6>
					</div>
				</div>
			</div>
		</footer>
	</section>
	
	<!-- angular -->
	<script src="assets/javascripts/vendor/angular.js"></script>
	<script src="assets/javascripts/vendor/angular-route.min.js"></script>
	<script src="assets/javascripts/vendor/angular-cookies.min.js"></script>
	<script src="/assets/javascripts/vendor/angular-translate.js"></script>
	<script src="assets/javascripts/vendor/angular-md5.js"></script>
	<script src="/assets/javascripts/vendor/i18n/angular-locale_pt-br.js"></script>
	
	<!-- jquery -->
	<script src="assets/javascripts/vendor/jquery-1.11.3.min.js"></script>

	<!-- jquery ui -->
	<script src="assets/javascripts/vendor/jquery-ui.min.js"></script>

	<!-- ui bootstrap -->
	<script src="assets/javascripts/vendor/ui-bootstrap-tpls-0.13.3.min.js"></script>
	<script src="assets/javascripts/vendor/bootstrap.min.js"></script>

	<!-- moment -->
	<script src="assets/javascripts/vendor/moment.min.js"></script>

	<!-- blockUI -->
	<script src="assets/javascripts/vendor/jquery.blockUI.min.js"></script>

	<!-- smart table -->
	<script type="text/javascript" src="assets/javascripts/vendor/smart-table.min.js"></script>



	<!-- Controllers -->
	<script src="assets/controller/templateController.js"></script>
	<script src="assets/controller/indexController.js"></script>


</body>
</html>
